body {
    background-color: #9a8c98;
    font-family: 'Comfortaa', cursive;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #333533;
}

a:hover {
    color: white;
    transition: all .5s ease-in-out;
}

/* navigation */

a.navbar-item:hover {
    color: white;
    background-color: transparent;
    transition: all .5s ease-in-out;

}

#brandName {
    font-size: 2rem;
    font-weight: bold;

}

.navbar, .footer {
    background-color: #b1a7a6;
}

/* background image */

.blah {
    position: relative;
}
/* pseduo class for background image opacity control */
.blah::before {
    content: "";
    background: url(./fabian_irsara_unsplash.jpg);
    position: absolute;
    opacity: 45%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/* profile image */

#profileImg {
    filter: grayscale(40%);
    margin-bottom: 5%;
}


/* projects section */

#projectsImage:hover {
    border: solid white;
    transform: scale(1.1);
    transition: all .9s ease-in-out;
    
    filter: drop-shadow(3px 3px 4px #55828b);
}

/* contact buttons */

#contact li {
    float: left;
}

#contactBits a {
    color: #f2f4f3;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }

  #contactBits a:hover {
      color: #283d3b;
      transition: all .3s ease-in-out;
  }

  /* reverse projects column stack for mobile */
  @media(max-width: 768px) { 
    .reverse-columns {
      flex-direction: column-reverse;
      display: flex;
    }
  }