/* general */

body {
    background-color: #9a8c98;
    font-family: 'Comfortaa', cursive;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #333533;
}

a:hover {
    color: white;
    transition: all .5s ease-in-out;
}


/* navigation */

a.navbar-item:hover {
    color: white;
    background-color: transparent;
    transition: all .5s ease-in-out;
}

#navBits a:hover {
    transform: scale(1.25);
    transition: all .5s ease-in-out;
}

#brandName {
    font-size: 2rem;
    font-weight: bold;
}

.navbar,
.footer {
    background-color: #b1a7a6;
}


/* background image. by Fabian Irsara: https://unsplash.com/photos/_SwLdgVGfVY */

.blah {
    background: url(./fabian_irsara_unsplash_b.jpg) fixed;
}


/* profile image */

#profileImg {
    filter: grayscale(50%);
    margin-bottom: 5%;
}


/* projects section */

#projectsImage:hover {
    border: solid white;
    transform: scale(1.1);
    transition: all .9s ease-in-out;
    filter: drop-shadow(3px 3px 4px #55828b);
}


/* contact buttons */

#contact li {
    float: left;
}

#contactBits a {
    color: #f2f4f3;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}


/* #contactBits a:hover {
    color: #283d3b;
    transition: all .3s ease-in-out;
} */

.fa-3x:hover {
    color: #283d3b;
    transition: all .5s ease-in-out;
    transform: scale(1.35);
}


/* reverse projects column stack for mobile */

@media(max-width: 768px) {
    .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
    }
}